/*Tela Precificação = t7*/

.t7 {
  background-color: #00d09e;
  font-family: "Poppins-SemiBold", Helvetica;
  display: flex;
  flex-direction: column;
}

.t7-bottom {
  background-color: #f1fff3;
  min-height: 100vh;
  border-radius: 70px 70px 0px 0px;
  padding: 20px;
  overflow-y: auto;
}  

.t7-title {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.t7-title-2 {
  padding-left: 10px;
  color: white;
}

.t7-title-3 {
  color: white;
}  

.t7-button {
  display: flex;
  background-color: #6DB6FE;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.t7-produit-box {
  display: flex;
  flex-wrap: wrap;
}

.t7-produit {
  background-color: #0068FF;
  color: #F1FFF3;
  border-radius: 25px;
  flex: 1 1 30%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .t7-bottom {
    background-color: #f1fff3;
    min-height: 100vh;
    border-radius: 0px 0px 0px 0px;
    padding: 20px;
    overflow-y: auto;
}  
}