.profile-edit-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e8f5e9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00c896;
  padding: 10px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.icon {
  color: #fff;
  font-size: 24px;
}

.title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.title {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.main-content {
  background-color: white;
  flex: 1;
  padding: 20px;
}

.username {
  background-color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.edit-title {
  background-color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  margin-bottom: 10px;
}

.edit-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.update-button {
  padding: 10px;
  background-color: #00c896;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #00a684;
}
