/*LoginScreen = t1*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.t1 {
    background-color: #00d09e;
    font-family: "Poppins-SemiBold", Helvetica;
    display: flex;
    flex-direction: column;
}

.t1-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.t1-name {
    margin-left: 20px;
}

.t1-bottom {
    background-color: #f1fff3;
    height: 100vh;
    border-radius: 70px 70px 0px 0px;
    padding: 20px;
}

.t1-title {
    padding-bottom: 50px;
}

.t1-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.t1-form {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; 
}

.t1-label {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.t1-input {
    width: 100%;
    border-radius: 20px;
    border: 0;
    height: 40px;
    box-shadow: inset 11px 10px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    background-color: #dff7e2;
}

.t1-box-button {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.t1-box-a {
    display: flex;
    flex-direction: column;
}

.t1-link {
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.t1-link:hover {
    color:#00D09E;
}

.t1-button {
    background-color: #00D09E;
    font-size:20px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.1);
}

.t1-button:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .t1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .t1-bottom {
        width: 400px;
        background-color: #f1fff3;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
    .t1-header {
        padding: 0 0 0 50px;
        display: flex;
    }
    .t1-body {
        display: flex;
        padding-inline: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .t1-link {
        font-weight: bold;
        font-size: 14px;
        padding-right: 20px;
        color: black;
        text-decoration: none;
    }
}