/*ProfileEdit = t6*/

.t6 {
  background-color: #00d09e;
  font-family: "Poppins-SemiBold", Helvetica;
  display: flex;
  flex-direction: column;
}

.t6-bottom {
  background-color: #f1fff3;
  min-height: 100vh;
  border-radius: 70px 70px 0px 0px;
  padding: 20px;
  overflow-y: auto;
}

.t6-title {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.t6-form {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; 
}

.t6-label {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.t6-input {
  width: 100%;
  border-radius: 20px;
  border: 0;
  height: 40px;
  box-shadow: inset 11px 10px 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dff7e2;
}

.t6-button {
  background-color: #00D09E;
  font-size:20px;
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 6px 5px 3px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.t6-button-box {
  width: 100%;
  display: flex;
  justify-content: center ;
}

@media (min-width: 768px) {
  .t6-bottom {
    background-color: #f1fff3;
    min-height: 100vh;
    border-radius: 0px 0px 0px 0px;
    padding: 20px;
    overflow-y: auto;
  }
  .t6-form {
      width: 50%;
  }
  .t6-button-box {
    width: 100%;
    display: flex;
    justify-content: flex-start ;
  }
  .t6-header-icon {
    width: 30%;
    display: flex;
    justify-content: flex-start;
  }
  
  .t6-header-name {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  
  .t6-header-logo {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
}