.t4-container {
    background-color: #00d09e;
    font-family: "Poppins-SemiBold", Helvetica;
    display: flex;
    flex-direction: column;
}

.t4-content {
    background-color: #f1fff3;
    min-height: 100vh;
    border-radius: 70px 70px 0px 0px;
    padding: 20px;
    overflow-y: auto;
}

.t4-title {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.t4-news-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t4-news-item {
    background: none;
    border-radius: 8px;
    padding: 1rem;
}

.t4-news-date {
    font-size: 0.9rem;
    font-weight: lighter;
    color: #004d40;
    margin-bottom: 0.5rem;
}

.t4-news-title {
    font-size: 1.2rem;
    color: #004d40;
    margin-bottom: 0.5rem;
}

.t4-news-title:hover {
    color: #00d09e;
}

.t4-news-description {
    font-size: 0.9rem;
    color: #666;
}

.t4-divider {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid #00d09e;
}

.t4-loading {
    text-align: center;
    font-size: 1.2rem;
    color: #004d40;
}

.t4-no-news {
    text-align: center;
    margin-top: 2rem;
}

.t4-no-news img {
    max-width: 200px;
    height: auto;
    margin-bottom: 1rem;
}

.t4-news-link {
    text-decoration: none;
    color: #004d40; 
    transition: color 0.3s ease;
}
